root = true

[*]
indent_style = space
end_of_line = crlf
insert_final_newline = true
max_line_length = 120
indent_size = 4

[search.exclude]
**/node_modules
**/bower_components

[files.exclude]
**/.git
**/.DS_Store
**/.vscode
